---
layout: page
title: "Crosswords By Maia"
sidebar: false
no_header: true
---
{% include email_subscription.html %}

<script src="/assets/javascripts/hide_puzzles.js"></script>
Here's where I post my crossword puzzles. Have a solve and enjoy!

{% assign puzzles = site.data.crosswords | where: 'dont_index', empty %}

<div class="puzzle-container">
    {% assign index = true %}
    {% for puzzle in paginator.posts %}
        <div class="puzzle">
            <h3 class="title">
                <a href="{{puzzle.url}}">{{ puzzle.title }}</a>
            </h3>

            <div class="info completed"><em>Completed</em>: {{ puzzle.date | date: "%b %Y"}}</div>
            <div class="info notes"><em>Constructor notes</em>: {{ puzzle.notes }}</div>
            {% if puzzle.dimensions %}
                <div class="info dimensions"><em>Dimensions</em>: {{ puzzle.dimensions }}</div>
            {% endif %}
            <!--
            {% if puzzle.day_of_week %}
                <div class="info difficulty"><em>Approx. difficulty</em>: NYT {{ puzzle.day_of_week }}</div>
            {% endif %}
            -->
            <div class="info files"><em>Files</em>:
                <a href="/crosswords/{{puzzle.slug}}/{{puzzle.slug}}.pdf">PDF</a> |
                <a href="/crosswords/{{puzzle.slug}}/{{puzzle.slug}}.puz" download>PUZ</a> |
                <a href="/crosswords/{{puzzle.slug}}/{{puzzle.slug}}.ipuz" download>IPUZ</a> |
                <a href="/crosswords/{{puzzle.slug}}/{{puzzle.slug}}-solution.pdf">solution</a>
            </div>
        </div>
    {% endfor %}
</div>
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="/{{paginator.next_page}}">&larr; Older</a>
    {% endif %}
    <a href="/archives">Puzzle Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="/{{paginator.previous_page}}">Newer &rarr;</a>
    {% endif %}
  </div>

<!-- to hide puzzles:
<div class="puzzle{% if puzzle.hide %} hidden{% endif %}">
 -->
