{% capture category %}{{ post.categories | size }}{% endcapture %}
<h1><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
<p class="meta">
  <span class="date">
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span>"}}</time>
  </span>
{% if category != '0' %}
  {% unless page.type == 'category' %}posted in:{% endunless %}
  {% include post/categories.html %}
{% endif %}
</p>
