<ul class="main-navigation">
{% if page.title == 'Crosswords By Maia' %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/">crosswords</a></li></div>
  <div class="spacer"></div>

{% if page.title == 'About Me' %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/about">about</a></li></div>
  <div class="spacer"></div>

{% if page.title == 'Construction Resources' %} <div class="selected"> {% else %} <div> {% endif %}
  <li><a href="{{ root_url }}/resources">resources</a></li></div>
  <div class="spacer"></div>

</ul>
