// Navbar
$nav-font-size: 0.7em;

// Header
$header-left-width-narrow: 60%;
$header-left-width-medium: 70%;
$header-left-width-wide: 80%;
$header-sep-color: #FFFFFF;
$header-sep-height: 10px;
$header-sep-color: #888;
$header-border-radius: 25px;

@mixin rounded($topBot, $side, $radius: 10px) {
  border-#{$topBot}-#{$side}-radius: $radius;
  -moz-border-#{$topBot}-radius-#{$side}: $radius;
  -webkit-border-#{$topBot}-#{$side}-radius: $radius;
}


body > header {
  padding-bottom: 0;
  padding-top: 1em;
  background: url('/images/puzzlebg.jpg') center repeat-y;
  background-size: 100% auto;
  margin-bottom: 10px;
  h1 {
    background: rgba($tertiary, 0.7);
    border-radius: $header-border-radius;
    padding: 5px 10px 5px 10px;
    color: $title-color;
    a:hover {
      color: $title-color-hover;
    }
  }

  // Left hand side of the header
  div.header-left {
    float: left;
    width: $header-left-width-wide;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;

    @media only screen and (min-width: 530px) {
      width: $header-left-width-narrow;
    }
    @media only screen and (min-width: 620px) {
      width: $header-left-width-medium;
    }
    @media only screen and (min-width: 720px) {
      width: $header-left-width-narrow;
    }
    @media only screen and (min-width: 768px) {
      width: $header-left-width-medium;
    }
    @media only screen and (min-width: 830px) {
      width: $header-left-width-narrow;
    }
    @media only screen and (min-width: 1000px) {
      width: $header-left-width-wide;
    }
    @media only screen and (min-width: 1030px) {
      width: $header-left-width-medium;
    }
    @media only screen and (min-width: 1200px) {
      width: $header-left-width-narrow;
    }

    div.subtitle {
      padding-left: 2%;
    }

  }

  // Right hand side of the header
  // -The navigation menu has been moved from under the header
  // to residing inside it
  div.header-right {
    overflow: auto;
    font-size: $nav-font-size;

    // on mobile/tiny screens, use different nav
    @media only screen and (min-width: 230px) {
      visibility: hidden;
    }
    @media only screen and (min-width: 530px) {
      visibility: visible;
    }


    ul.main-navigation {
      background: rgba($tertiary, 0.7);
      border-radius: $header-border-radius;
      padding: 20px;

      float:left;
      display: inline;

      div.spacer {
        height: 7px;
        border-left: 2px solid $nav-bg;
      }
      div.selected {
        background-color: $nav-bg;
        @include rounded(top, right);
        @include rounded(bottom, right);
        display: inline;
        padding: {
          bottom: 3px;
          top: 3px;
        }
        a {
          color: $nav-color-hover;
        }
      }
      li {
        list-style: none;
        border-left: 2px solid $nav-bg;
        display: inline;
        padding: 3px 15px;
        a {
          text-decoration: none;
          color: $nav-color;
          width: 100%;
        }
        &:hover {
          background-color: $nav-bg;
          @include rounded(top, right);
          @include rounded(bottom, right);
          a {
            color: $nav-color-hover;
          }
        }
      }
    }
  }
}

div.social-icons {
  display: inline;
  a {
    white-space: normal;
  }
  a:hover {
    opacity: 0.75;
  }
  img {
    width: 40px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0) 0 0px;
  }
}

// Adding a seperator between the header and content
body > div#main {
  div#head-sep {
    width: $max-width;
    height:$header-sep-height;
    background-color:$header-sep-color;
  }

}
