{% unless category == '0' %}
<span class="categories">
  {% if post %}
    {% assign sorted = post.categories | sort %}
    {% for category in sorted %}
      <span>
        <a class="category" href="/blog/categories/{{category}}">{{ category }}</a>
      </span>
    {% endfor %}
  {% else %}
    {% assign sorted = page.categories | sort %}
    {% for category in sorted %}
      <span>
        <a class="category" href="/blog/categories/{{category}}">{{ category }}</a>
      </span>
    {% endfor %}
  {% endif %}
  </ul>
</span>
{% endunless %}
