---
layout: page
footer: false
type: category
---

<!-- By markmw: https://gist.github.com/markwk/52d00f3f4e1ef1598fc2fb58f5b8ab7c -->
<section>
    <div id="blog-category">
      {% for post in paginator.posts %}
        {% include archive_post.html %}
      {% endfor %}
    </div>
</section>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page_path %}
    <a class="button previous" href="{{ paginator.previous_page_path }}" title="Previous posts">previous </a>
  {% endif %}

  {% if paginator.next_page_path %}
    <a class="button next" href="{{ paginator.next_page_path }}" title="Next posts"> next</a>
  {% endif %}
</nav>
{% endif %}
