$noise-bg: url('/images/noise.png') top left !default;
$img-border: url('/images/dotted-border.png') !default;

// Custom Colors
// https://coolors.co/0b717a-b4a0e5-e2cfac-524e47-f0eee8
$primary: #0B717A;
$secondary: #B4A0E5;
$tertiary: #E2CFAC;
$quaternary: #524E47;
$background: #F0EEE8;

$color-gray01: #333 !default;
$color-gray02: #999 !default;
$color-gray03: #ccc !default;
$color-gray04: #ddd !default;
$color-gray05: #fff !default;

// Main Link Colors
$link-color: $primary;
$link-color-hover: $secondary;
$link-color-visited: darken($link-color, 15);
$link-color-active: adjust-color($link-color-hover, $lightness: 15);

// Main Section Colors
$main-bg: $background !default;
$page-bg: $main-bg !default;
$article-border: #eeeeee !default;

$header-bg: $background !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: $primary !default;
$title-color-hover: lighten($primary, 10) !default;
$subtitle-color: $background;

$text-color: $quaternary !default;
$text-color-light: lighten($text-color, 15) !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: $secondary !default;
$nav-bg-front: $noise-bg !default;
$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11)) !default;
$nav-color: $quaternary !default;
$nav-color-hover: darken($nav-color, 10) !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default;
$nav-border-top: lighten($nav-bg, 15) !default;
$nav-border-bottom: darken($nav-bg, 25) !default;
$nav-border-left: darken($nav-bg, 11) !default;
$nav-border-right: lighten($nav-bg, 7) !default;

/* Sidebar colors */
$sidebar-bg: #f2f2f2 !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;

/* Footer colors */
$footer-color: $text-color-light !default;
$footer-bg: darken($background, 10) !default;
$footer-bg-front: $noise-bg !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 15) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: darken($footer-bg, 5) !default;
